*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
}

.header{
    background: url('../images/img-fondo-login.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes colorloop{
    0%{
        background-color: /*#26fa9a*/#3b234a;
    }
    25%{
        background-color: /*#fcee67*/#523961;
    }
    50%{
        background-color: /*#ff4081*/#baafc4;
    }
    75%{
        background-color: /*#18ffff*/#c3bbc9;
    }
    100%{
        background-color: /*#2afa9a*/#3b234a;
    }
}

.header h1{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

.contenedor-1 {
    border-radius: 10px;
    display: block;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    width: 500px;
    padding: 30px 40px;
}

.contenedor-2 input{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2); 
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 25px 20px 20px;
}

.contenedor-2 input::placeholder {
    color: #fff;
}

.btn-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.btn {
    width: 150px;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn:hover{
    color: #fff;
    background-color: #3c3c3c;
    transition: 0.5s;
}

a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: .5s;
}

a:hover{
    color: #333;
    transition: .5s;
}